body {
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #acc9f4;
}

h1 {
  margin-left: 1em;
  margin-top: 1.5em;
  color: #569873;
}

h2 {
  margin-top: .3em;
  margin-left: 2em;
  font-size: 1.4em;
  color: #0074D9;
}

h3 {
  margin-left: 2.4em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.4em;
  color: black;
  text-align: center;
  font-weight: bold;
}

p {
  margin-left: 2.1em;
  margin-top: 1em;
  font-size: 1.3em;
}

a {
  color: #0074D9;
}

#faveplace {
  width: 80%;
}

form {
  margin-left: 3em;
}
