body {
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #acc9f4;
}

h1 {
  margin-left: 1em;
  margin-top: 1.5em;
  color: #569873;
}

h2 {
  margin-top: .3em;
  margin-left: 2em;
  font-size: 1.4em;
  color: #0074D9;
}

h3 {
  margin-left: 2.4em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.4em;
  color: black;
  text-align: center;
  font-weight: bold;
}

p {
  margin-left: 2.1em;
  margin-top: 1em;
  font-size: 1.3em;
}

.rightArrow {
  text-align: right;
  font-style: italic;
  padding-right: 1em;
}

.bothArrow {
  text-align: center;
  font-style: italic;
}

.leftArrow {
  text-align: left;
  font-style: italic;
  padding-left: 1em;
}


/* The styles in this section are for the totalsvis area chart */
#totals-vis{
  width: 90%;
}

.axis line,
.axis path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.tick text {
	font-family: sans-serif;
	font-size: 11px;
	fill: #555;
}

.area.area-employed {
	fill: #ddd;
	stroke: #000;
	stroke-width: 2px;
}

.area.area-rw {
	fill: #3D9970;
	stroke: #000;
	stroke-width: 2px;
}

.legend-rect-employed {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #ddd;
}

.legend-rect-remote {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #3D9970;
}

.legend-text {
	font-family: sans-serif;
	font-size: 12px;
	text-anchor: start;
}

/* Styles for ageVis legend */
.legend-age-lines {
	stroke: #000;
	width: 20px;
	height: 10px;
	fill: #ccc;
}

/* styles for genderVis */
.m-area-total {
  fill: #0074D9;
}

.m-area-remote {
  fill: #3D9970;
}

.f-area-total {
  fill: #AAAAAA;
}

.f-area-remote {
  fill: #39CCCC;
}

.legend-f-rect-employed {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #AAAAAA;
}

.legend-f-rect-remote {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #39CCCC;
}
.legend-m-rect-employed {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #0074D9;
}

.legend-m-rect-remote {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #3D9970;
}

/* styles for eduVis */
.legend-rect-lessHS {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #AAAAAA;
}

.legend-rect-hsOnly {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #7FDBFF;
}
.legend-rect-associate {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #39CCCC;
}

.legend-rect-bachelors {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #3D9970;
}

.legend-rect-advanced {
	stroke: #000;
	width: 16px;
	height: 16px;
	fill: #0074D9;
}

/* -------------------------------------- */
